<ul>
  <li *ngFor="let video of videos"
      [class.selected]="video.id === selected?.id"
      (click)="videoClicked(video)">
    <app-video-display [video]="video"></app-video-display>
  </li>
</ul>
