<form [formGroup]="formGroup">
  <div>
Region
  <input
    type="radio"
    formControlName="region"
    value="North America">North America
  <input
    type="radio"
    formControlName="region"
    value="South America">South America
  <input
    type="radio"
    formControlName="region"
    value="All">All
  </div>
  <div>
    Date Range
    <div>from <input type="date" formControlName="from"></div>
    <div>to <input type="date" formControlName="to"></div>
  </div>

  <div>
    Age Groups
    <label>
    <input type="checkbox" formControlName="under18">
      Under 18</label>
    <label>
    <input type="checkbox" formControlName="over18">
    Over 18</label>
  </div>
</form>


<pre>{{formGroup.value | json}}</pre>
