<app-video-list [videos]="videos | async"
                [selected]="selectedVideo | async"
                (videoWasClicked)="selectVideo($event.id)"></app-video-list>
<app-video-player [video]="selectedVideo | async"></app-video-player>
<app-stat-filters></app-stat-filters>
